*{
    background-color: gray;
}
h1{
    text-align: center;
}

#container{
    display: flex;
}
#revenues {
    background-color: green;
    width: 200px;
    height: 200px;
    text-align: center;
}
#expenses {
    background-color: rgb(203, 50, 50);
    width: 200px;
    text-align: center;
}
#input-add-container, #input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}
#input-add-container{

    display: flex;
    flex-direction: column; /* ustawia elementy pionowo */
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px; /* odstęp między polami */
}
   
    



#input-add, #input-name{
    
    margin-left: 20px;
    background-color: beige;
    border: none;
    text-align: center;
    border-radius:  12px;

}

#add-btn{
border: none;
background-color: rgb(14, 187, 106);
border-radius: 25px;
font-size: 14px;
padding: 8px;
}
#add-btn:hover{
    background-color: rgb(8, 160, 85);
}

.delete-btn{
    margin-left: 10px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;    
}
.delete-btn:hover{
    background-color: #cc0000;
}